.hoverable:hover{
    transform: scale(0.98);
}
.triangularBackdrop{
    min-height:100vh; 
    width:100%;
    display:flex;
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
    background: url('./Assets/loginBackdrop.png');
    background-size: cover;
}
.view{
    min-height:100vh; 
    width:100%;
}