.fakeSwitch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:10rem;
    height:2rem;
    color: antiquewhite;
    background-color: hsla(0,0%,0%,.5);
    border-radius: 3rem;
    padding-left: 3px;
    padding-right: 3px;
}
.selectedView{

    padding: 5px;
    background-color: #ffc107;
    color: #000;
    border-radius: 50%;
}
.unselectedView{

    padding: 5px;


}
